resources/
build/
lib/
.vs/
_deps/
bin/logs/
assets/
students/

*Config.h

*.meta

*.bmp
*.png
*.jpg
*.gif
*.dds

*.mp4
*.pdf

#*.html

*.rar
*.zip

*.doc
*.docx
*.ppt
*.pptx

*.filters
*.vcxproj
*.log
*.sln
*.user
*.dll
*.lib
*.exe
*.ilk
*.pdb

assets/materials/
assets/models/
assets/textures/

imgui*.ini


/homeworks/project/legacy_deps/
.idea
cmake-build-*

# exception
!homeworks/project/src/hw10/Project/src/BasicCGAL12171.vcxproj.user
!homeworks/project/src/hw10/Project/src/BasicCGAL12171.vcxproj.filters
!homeworks/project/src/hw10/Project/src/BasicCGAL12171.vcxproj
!homeworks/project/src/hw10/Project/x64/Debug
!homeworks/project/src/hw10/Project/x64/Debug/assimp-vc142-mt.dll
!homeworks/project/src/hw10/Project/x64/Debug/fade3D_x64_v141_Debug.dll
!homeworks/project/src/hw10/Project/x64/Debug/voro++.dll
!homeworks/project/src/hw10/Project/Crust.sln
!homeworks/project/src/hw10/Project/lib
!homeworks/project/src/hw10/Project/lib/assimp-vc142-mt.lib
!homeworks/project/src/hw10/Project/lib/fade3D_x64_v141_Debug.lib
!homeworks/project/src/hw10/Project/lib/glfw3.lib
!homeworks/project/src/hw10/Project/include/assimp/config.h
!homeworks/project/src/hw8/include/CGAL/config.h